In [4]:
import pandas as pd
import gmaps
import os

In [9]:
# Reas csv
map_df = pd.read_csv('resources/map_information')
data = pd.read_csv('resources/glassdoor_data_scientist_jobs.csv')

In [32]:
new = []
for x in range(len(map_df)):
    new.append(f'{map_df["city"].tolist()[x]}, {map_df["state"].tolist()[x]}')
map_df["city_state"] = new
map_df

            city state       long        lat       city_state
0       New York    NY -74.005973  40.712775     New York, NY
1      Lyndhurst    NJ -74.124306  40.812017    Lyndhurst, NJ
2       Brooklyn    NY -73.944158  40.678178     Brooklyn, NY
3    Jersey City    NJ -74.043143  40.717754  Jersey City, NJ
4    Carle Place    NY -73.610406  40.752601  Carle Place, NY
..           ...   ...        ...        ...              ...
186   Lockbourne    OH -82.969286  39.808918   Lockbourne, OH
187       Dublin    OH -83.114077  40.099229       Dublin, OH
188       Slough    OH -82.761560  39.799508       Slough, OH
189    Blacklick    OH -82.810837  39.995052    Blacklick, OH
190     Hilliard    OH -83.158245  40.033396     Hilliard, OH

[191 rows x 5 columns]

In [36]:
# Create the figure
figure_layout = {
    'width': '900px',
    'height': '900px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [37]:
counts = []
for x in map_df["city_state"].tolist():
    counts.append(len(data.loc[data["Location"] == x]))
counts

[303,
 1,
 6,
 7,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 206,
 6,
 3,
 2,
 14,
 2,
 21,
 5,
 22,
 8,
 1,
 24,
 1,
 10,
 6,
 2,
 1,
 2,
 2,
 3,
 1,
 1,
 2,
 1,
 1,
 4,
 3,
 2,
 1,
 3,
 330,
 2,
 2,
 1,
 2,
 8,
 2,
 1,
 5,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 219,
 1,
 4,
 4,
 2,
 3,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 32,
 165,
 49,
 27,
 4,
 5,
 7,
 5,
 1,
 10,
 3,
 210,
 2,
 1,
 2,
 6,
 1,
 2,
 11,
 9,
 4,
 2,
 4,
 12,
 6,
 6,
 0,
 1,
 2,
 1,
 1,
 1,
 11,
 1,
 1,
 2,
 4,
 1,
 0,
 2,
 1,
 1,
 1,
 13,
 2,
 4,
 1,
 2,
 1,
 1,
 1,
 177,
 1,
 5,
 8,
 304,
 2,
 22,
 1,
 1,
 180,
 4,
 60,
 11,
 17,
 5,
 2,
 124,
 3,
 8,
 4,
 3,
 4,
 1,
 1,
 8,
 33,
 105,
 65,
 1,
 32,
 40,
 1,
 26,
 8,
 4,
 1,
 35,
 4,
 3,
 1,
 1,
 5,
 2,
 2,
 1,
 1,
 345,
 6,
 1,
 1,
 2,
 68,
 1,
 33,
 4,
 152,
 4,
 2,
 3,
 1,
 6,
 7,
 1,
 1]

In [38]:
lat_long = map_df[["lat","long"]]
heat_layer = gmaps.heatmap_layer(lat_long, weights=counts)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='900px', margin='0 auto 0 auto', padding='1px', wi…